<div class="response-modal">
  <div class="modal-content">
    <button class="close-button" (click)="onClose()">
      <span class="close-icon" aria-hidden="true">&times;</span>
    </button>
    <div *ngIf="serverResponse">
      <div *ngIf="isCreateMessageResponse(serverResponse)">
        <p>Kod wiadomości: <span #codeElement class="copy-text">{{ serverResponse.id }} <i class="fas fa-copy copy-icon" (click)="copyToClipboard('code')"></i></span></p>
      </div>
      <div *ngIf="isReadMessageResponse(serverResponse)">
        <p>Treść wiadomości: <span #contentElement class="copy-text">{{ serverResponse.content }} <i class="fas fa-copy copy-icon" (click)="copyToClipboard('content')"></i></span></p>
      </div>
    </div>
  </div>
</div>





